/* Colors */
$level-2: #f7f7f7;
$support: #707070;
$support-contrast: #e7e7e7;
$support-muted: #b3b3b3;
$main-purple: #56468f;
$main-purple-muted: #9c94b9;
$main-purple-contrast: #433975;
$active: #32cd32;
$warning: #fad201;
$alert: #e80000;
