@import '../../styles/globals.module.scss';
@import '../../styles/colors.scss';

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

.main {
  height: calc(100% - 5rem);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 4;
  padding-bottom: 5rem;
}

.leftIndicatorContainer {
  height: 100%;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.roadmapContainer {
  height: 100%;
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.rowContainer {
  height: 15%;
  margin: 1rem 0;
}

.row1 {
  width: 94%;
  transform: rotate(-5deg);
}

.row2 {
  width: 95.5%;
  padding-left: 1rem;
  transform: rotate(-2.5deg);
}

.row3 {
  width: 96%;
  padding-left: 1rem;
}

.row4 {
  width: 95.5%;
  padding-left: 1rem;
  transform: rotate(2.5deg);
}

.row5 {
  width: 94%;
  transform: rotate(5deg);
}

.backgroundLayerContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: $support-contrast;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backgroundLayer1,
.backgroundLayer2,
.backgroundLayer3 {
  height: 130%;
  min-height: 130%;
  max-height: 130%;
  position: absolute;
  left: 0;
  box-shadow: 10px 3px 15px #00000014;
}

.backgroundLayer {
  border-top-right-radius: 20% 100%;
  border-bottom-right-radius: 20% 100%;
}

.backgroundLayer1 {
  background: white 0% 0% no-repeat padding-box;
  z-index: 3;
}

.backgroundLayer2 {
  background: $level-2 0% 0% no-repeat padding-box;
  z-index: 2;
}

.backgroundLayer3 {
  background: $level-2 0% 0% no-repeat padding-box;
  z-index: 1;
}

.page1LayerWidths {
  .backgroundLayer1 {
    width: 89%;
  }

  .backgroundLayer2 {
    width: 91%;
  }

  .backgroundLayer3 {
    width: 99%;
  }
}

.page2LayerWidths {
  .backgroundLayer1 {
    width: 20%;
    max-width: 240px;
    border-top-right-radius: 180% 120%;
    border-bottom-right-radius: 180% 120%;
  }

  .backgroundLayer2 {
    width: 91%;
    background-color: white;
  }

  .backgroundLayer3 {
    width: 99%;
  }
}

.page3LayerWidths {
  .backgroundLayer1,
  .backgroundLayer2 {
    border-top-right-radius: 180% 120%;
    border-bottom-right-radius: 180% 120%;
  }

  .backgroundLayer1 {
    width: 20%;
    max-width: 240px;
  }

  .backgroundLayer2 {
    width: 22%;
    max-width: 275px;
    border-top-right-radius: 180% 140%;
    border-bottom-right-radius: 180% 140%;
  }

  .backgroundLayer3 {
    width: 99%;
    background-color: white;
  }
}

.circleIndicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: $main-purple-muted;
  margin: 6px;

  &:hover {
    cursor: pointer;
  }
}

.activeIndicator {
  height: 12px;
  width: 12px;
  margin: 4px;
  background-color: $main-purple-contrast;

  &:hover {
    cursor: default;
  }
}

.exportTabContainer {
  height: 40px;
  width: 39px;
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 4;
}

.page3RowWidth {
  width: 70%;
}
