@import './styles/globals.module.scss';

.app {
  height: 100vh;
  min-height: 800px;
  width: 100vw;
  min-width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: white;
}
